.post-container {
  display: flex;
  direction: column;
  padding: 20px 10px;
  /* border-bottom: 1px solid gray; */
  min-height: 3em;
  height: auto;
  border-radius: 5px;
  background-color: white;
  margin: 0.2em;
}

.post-container .vote svg {
  margin: 0 1em 0 0;
  padding: 0.8em 0 0 0;
  fill: #009dff;
}

.post-container .post-title {
  font-size: 1.2em;
  font-weight: 800;
  color: #009dff;
  margin-bottom: 0.5em;
}

.post-container .post-url {
  font-size: 0.8em;
  color: rgb(169, 169, 169);
}

.post-container .row {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  color: #858484;
}

.post-container a {
  text-decoration: none;
}
