.nav-bar {
  background-color: rgb(34, 34, 34);
  /* height: 2em; */
  width: 100%;
  padding: 10px;
  display: flex;
  color: white;
  position: relative;
  /* justify-content: space-between; */
}

.nav-bar input {
  background-color: rgb(52, 52, 52);
  width: 75%;
  height: 2.5em;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 10px;
}

.nav-bar input:focus {
  outline: none;
}

.nav-bar .logout-button {
  color: white;
  background-color: rgb(82, 82, 82);
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
